.dropdown{
    display:inline-block;
}
.dropdown button{
    background-color:hsl(43, 99%, 49%);
    color:black;
    padding:10px 15px;
    border: solid;
    cursor:pointer;
}
.dropdown a{
    display:block;
    color:black;
    text-decoration:none;
    padding:10px 15px;
}
.dropdown .machine_type{
    display:none;
    position:absolute;
    background-color:hsl(43, 99%, 65%);
    min-width:100px;
    box-shadow:2px 2px 5px hsla(0,0%,0%,40.8);
    padding:10px 15px;
}
.dropdown:hover .machine_type{
    display:block;
}
.dropdown:hover button{
    background-color:hsl(43, 99%, 39%);
}
.dropdown a:hover{
    background-color:hsl(43, 99%, 55%);
}